(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Saltillo,
A.ss01,
B.ss01,
C.ss01,
D.ss01,
E.ss01,
F.ss01,
G.ss01,
H.ss01,
I.ss01,
J.ss01,
K.ss01,
L.ss01,
M.ss01,
N.ss01,
O.ss01,
P.ss01,
Q.ss01,
R.ss01,
S.ss01,
T.ss01,
U.ss01,
V.ss01,
W.ss01,
X.ss01,
Y.ss01,
Z.ss01,
Aring.ss02,
K.ss02,
M.ss02,
Uring.ss02,
W.ss02,
A.compressed,
U.compressed,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcommaaccent,
gdotaccent,
h,
hbar,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
saltillo,
aring.ss02,
uring.ss02,
w.ss02,
a.compressed,
u.compressed,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.ss01,
one.ss01,
two.ss01,
three.ss01,
four.ss01,
five.ss01,
six.ss01,
seven.ss01,
eight.ss01,
nine.ss01,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.zero.ss01,
zero.tf.ss01,
one.tf.ss01,
two.tf.ss01,
three.tf.ss01,
four.tf.ss01,
five.tf.ss01,
six.tf.ss01,
seven.tf.ss01,
eight.tf.ss01,
nine.tf.ss01,
zero.zero.tf.ss01,
space,
enspace,
emspace,
thinspace,
.notdef,
bracketleft_zero_bracketright.liga,
bracketleft_one_zero_bracketright.liga,
bracketleft_one_one_bracketright.liga,
bracketleft_one_two_bracketright.liga,
bracketleft_one_three_bracketright.liga,
bracketleft_one_four_bracketright.liga,
bracketleft_one_five_bracketright.liga,
bracketleft_one_six_bracketright.liga,
bracketleft_one_seven_bracketright.liga,
bracketleft_one_eight_bracketright.liga,
bracketleft_one_nine_bracketright.liga,
bracketleft_one_bracketright.liga,
bracketleft_two_zero_bracketright.liga,
bracketleft_two_bracketright.liga,
bracketleft_three_bracketright.liga,
bracketleft_four_bracketright.liga,
bracketleft_five_bracketright.liga,
bracketleft_six_bracketright.liga,
bracketleft_seven_bracketright.liga,
bracketleft_eight_bracketright.liga,
bracketleft_nine_bracketright.liga,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
whiteSmilingFace,
wheelchairSymbol,
airplane,
at,
ampersand,
paragraph,
section,
degree,
bar,
dagger,
daggerdbl,
informationsource,
informationsource.ss02,
dollar,
euro,
plus,
minus,
multiply,
divide,
equal,
notequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
fullBlock,
leftOneEighthBlock,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
acutecomb.case,
dieresiscomb.narrow,
circumflexcomb.wide,
brevecomb.wide,
tildecomb.wide,
dieresiscomb.wide,
caroncomb.alt.wide,
caroncomb.wide,
ringcomb.wide,
macroncomb.wide,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
pixel,
pixel.bold,
pixel.light,
pixel.square,
pixel.thin,
pixel.square.bold,
pixel.square.light,
pixel.square.thin
)